@title-color: rgb(97, 60, 13);
@title-color-dark: rgb(58, 37, 11);
@backdrop-color: rgb(130, 188, 255);
@backdrop-color-dark: rgb(28, 90, 161);
@text-color: rgb(83, 53, 4);
@text-highlight-color: rgb(204, 139, 34);
@board-color: rgb(110,66,32);
@board-color-edge: rgb(77, 48, 2);
@player-color: rgb(214, 208, 192);
@opponent-color: rgb(31, 23, 3);
@btn-color: rgb(182, 225, 240); 
@grid-window-offset: 124px;
@grid-cell-border-width: 4%;

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 60px;
}

html * {
  font-family: Acme !important;
  background-color: @backdrop-color;
}

h1, h2 {
  color: @title-color;
  font-weight: normal;
  font-size: 4.2em;
  border-color: @title-color; 

  .light {
    color: @text-color;
  }

  .dark {
    color: @title-color-dark;
  }
}

ul {
	list-style-type: none;
	padding: 0;
}
li {
	display: inline-block;
	margin: 0 10px;
}
a {
	color: @text-highlight-color;
}
p {
  color: @text-color;
}
p .light {
  color: @text-highlight-color;
}


.main div {
  text-align: center;
  margin: auto;
}

button {
  margin-top: 16px;
  font-size: 4.2em;
  color: @text-highlight-color;
  background: url(dark_wood_board.jpg);
  background-repeat: repeat;
  background-size: contain;
  font-weight: bold;
  width: 6.4em;
  height: 3.2em;
  border-radius: 8px;
  border-color: @text-highlight-color;
}

.gridWrapper {
  width: calc(100% - 240px);
  display: grid;
  border-width: 8px;
  border-radius: 6px;
  border-style: solid;
  border-color: @board-color-edge;
}

.gridCell::before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  padding-bottom: 100%;
  padding-left: 100%;
}

.gridCell {
  position: relative;
  display: block;
  background-color: @board-color;
  // border: 8px solid;
  // background-image: url('../assets/dark_wood_board.jpg') 
  background-image: linear-gradient(
      rgba(@opponent-color, 1),
      calc(@grid-cell-border-width / 8),
      rgba(@board-color, 0),
      calc(100% - @grid-cell-border-width),
      rgba(@opponent-color, 1)
    ), linear-gradient(
      90deg,
      rgba(@opponent-color, 1),
      @grid-cell-border-width,
      rgba(@board-color, 0),
      calc(100% - @grid-cell-border-width),
      rgba(@opponent-color, 1)
    );
  // border-image-source: repeating-linear-gradient(45deg, rgba(@title-color, 1), rgba(@text-color, 0.1));
  // border-image-slice: calc(2 * @grid-cell-border-width);
  // border-radius: 3px;
}

.gridCell::after {
  background-color: @board-color;
}

.piece {
  z-index: 4;
  position: absolute;
  top: 4%;
  left: 4%;
  width: 92%;
  height: 92%;
  border-radius: 50%;
  background-color: @player-color;
  animation-name: piecePlace;
  animation-duration: 4s;
}

.piecePlayer {
  .piece;
}

.pieceOpponent {
  .piece;
  background-color: @opponent-color;
}
